{% extends "form_test/wrapper.html" %}

{%block body%}
  <div class="container">
    <p align='center'>
      <a href="/add_car" class="btn btn-primary btn-lg">Новый автомобиль</a>
      <a href="/add_tenant" class="btn btn-primary btn-lg">Новый арендатор</a>
      <a href="/take" class="btn btn-primary btn-lg">Взять в прокат</a>
      <a href="/return" class="btn btn-primary btn-lg">Вернуть машину</a>
      <a href="/history" class="btn btn-info btn-lg">История проката</a>
    </p>
  </div>
{%endblock%}
